.price{

}
.price__body{
max-width: 1500px;
max-height: 900px;
margin: auto;

}
.price__hearder{
    
}
.price__title{
}
.title{
text-align: center;
 width: 1170px;
 height: 150px;
 font-size: 36px;
 margin-top: 50px;
 margin-left: 168px;
 margin-right: 170px;

}
.pricing__line{
content: "";
width: 170px;
height: 0;
border: 1px solid black;
position: absolute;

margin-left: 668px;
margin-right: 670px;
margin-bottom: 40px;
}
.pricing__text{
width: 1169px;
height: 21px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
padding-left: 170px;
padding-top: 40px;
margin-bottom: 140px;
}
.pricing__row{
display: flex;

}
.pricing__column{

flex: 0 0 33.333%;

}


.items--inside{

}
.items--list__price{

}
.items--list__li{ 


}
.items--first__item{
    display: flex;
    flex: 0 0 33.333%;
    

}
.items--second__item{

}
.items--third__item{

}
.items--others__item{

}

    
