/* .price{

} */
body{
    background-color: #f5f5f5;
}
.price__body{
max-width: 1500px;
max-height: 900px;
margin: auto;

}
/* .price__hearder{
    
}
.price__title{
} */
.title{
text-align: center;
 width: 1170px;
 height: 150px;
 font-size: 36px;
 margin-top: 50px;
 margin-left: 168px;
 margin-right: 170px;

}
.pricing__line{
content: "";
width: 170px;
height: 0;
border: 1px solid black;
position: absolute;

margin-left: 668px;
margin-right: 670px;
margin-bottom: 40px;
}
.pricing__text{
width: 1169px;
height: 21px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
padding-left: 170px;
padding-top: 40px;
margin-bottom: 140px;
}
.pricing__row{
display: flex;
max-width: 1300px;
max-height: 900px;
margin: auto;

/* margin: auto; */


}
.pricing__column{
/* flex: -33.333%; */
/* flex: 0 0 33.333%; */
/* padding-right:30px; */
padding-left: 50px;
}


/* .items--inside{ */

/* }
.items--list__price{

} */
.items--list__li{ 
    text-align: center;
    list-style-type: none;
    padding: 0;
   
    

}
.items--first__item{ 
    width: 370px;
    height: 60px;
    background-color: rgb(61, 54, 54);
    color: aliceblue;
    border-bottom: 1px solid white;
    margin-right: 0px;
    font-size: 24px;
    /* text-align: center;
    vertical-align: middle; */
    line-height: 55px;
}

.items--second__item{
display: block;
/* box-shadow:  14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
width: 370px;
height: 100px;
background-color: rgb(61, 54, 54);
    color: aliceblue;
    border-bottom: 1px solid white;
    margin-right: 0px;
    font-size: 36px;
    line-height: 100px;
}
.items--third__item{
    width: 370px;
    height: 50px;
    background-color: rgb(61, 54, 54) ;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 18px;
    line-height: 50px;
    transition: 1s;
}
.items--others__item{
    width: 370px;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid grey;
    color: gray;
    font-size: 18px;
    line-height: 50px;
}

    
/* .items--others__item:hover{
    box-shadow: 0 10px 10px 10px rgb(87, 85, 85);
} */
.items--list__li:hover{
    box-shadow: 0 5px 5px 5px rgb(87, 85, 85);
    transform: translate(30px );
    transition: 1s;
}